@media (max-width: 991px) {
    .promo {
        padding: 21px 21px 93px 21px;
    }
}

@media (max-width: 767px) {
    .advantages {
        min-height: 235px;

        &__descr-subheader {
            width: 162px;
            font-size: 10px;
        }

        &__descr-header {
            font-size: 12px;
        }

        &__item {
            img {
                width: 50px;
            }
        }

        &__header {
            font-size: 18px;
        }
    }

    .header {
        &__phone {
            font-size: 13px;
        }


        .button {
            width: 109px;
            height: 23px;
            font-size: 8px;
        }

        &__official {
            font-size: 8px;

            span {
                font-size: 13px;
            }
        }

        >div {
            width: 33%;
        }
    }

    .promo {
        &__header {
            font-size: 25px;
        }

        &__icons {
            width: 272px;
        }

        &__icon {
            font-size: 10px;

            img {
                width: 30px;
                height: 30px;
            }
        }

        &__subheader {
            font-size: 14px;
        }

        .button {
            &_main {
                width: 205px;
                height: 35px;
                font-size: 12px;
            }
        }

        &__link {
            font-size: 12px;

            a {
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 575px) {
    .promo {
        min-height: 325px;
        padding: 21px 6px 93px 6px;

        &__header {
            font-size: 14px;
        }

        &__subheader {
            font-size: 7px;
        }

        &__icons {
            width: 145px;
        }

        &__icon {
            font-size: 6px;

            img {
                width: 20px;
                height: 20px;
            }
        }

        .button {
            &_main {
                width: 105px;
                height: 22px;
                font-size: 6px;
            }
        }

        &__link {
            font-size: 8px;

            a {
                font-size: 8px;
            }
        }
    }

    .header {
        &__phone {
            font-size: 9px;
        }

        .button {
            width: 75px;
            height: 17px;
            font-size: 6px;
        }

        &__official {
            font-size: 5px;

            span {
                font-size: 8px;
            }
        }
    }

    .advantages {
        min-height: 117px;
        padding: 26px 0 26px 0;

        &__descr-subheader {
            width: 94px;
            font-size: 6px;
            margin-top: 8px;
        }

        &__descr-header {
            font-size: 8px;
            margin-top: 10px;
        }

        &__item {
            img {
                width: 25px;
            }
        }

        &__items {
            margin-top: 25px;
        }

        &__header {
            font-size: 12px;
        }
    }
}